body,
html {
    height: 100%;
    margin: 0 auto;
    overflow-y: hidden !important;
    overflow-x: auto !important;
}

:focus {
    outline: 0;
}

#content-left {
    width: 20%;
    height: 80%;
   
    border: 1px solid red;
    background-color: transparent;
    vertical-align: bottom;
    float: left;
    margin: 5px 5px 0px 10px;
    position: relative;
    bottom: 0px;
    &__area {
        position: relative;
        padding: 10px;
    }
}

#content-right {
    width: 77%;
    height: 80%;
    border: 1px solid green;
    background-color: transparent;
    vertical-align: top;
    float: left;
    margin: 5px 5px 0px 0px;
    &__area {
        position: relative;
        padding: 10px;
        overflow: auto;
    }
}

#main-navbar {
    height: 75;
    background-image: url(../../assets/images/600x72.png);
    background-repeat: repeat-x;
    padding: 0px 0px 0px 25px;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 75px;
    width: 99%;
    border: 1px solid orange;
    margin: 5px 5px 0 5px;
    text-align: center;
}
